* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif; }

h1, h2, h3 {
  font-weight: 600; }

.header {
  height: 126px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2; }

.header-name {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 20px; }

.name {
  font-size: 25px;
  line-height: 1rem; }

.role::before {
  content: "/";
  margin: 0 10px; }

.header-nav {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
  align-items: center; }

.header-nav > a {
  margin-right: 16px;
  text-decoration: none;
  color: #000000; }

.header-nav > a:hover {
  color: #0051fe; }

@media (max-width: 576px) {
  .header-nav > a {
    margin: 5px; } }

@media (max-width: 400px) {
  .header-nav > a {
    margin: 10px 0px; }
  .header-nav {
    flex-direction: column; } }

.text-content {
  margin: 20px; }

.section-image {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center; }

.image {
  height: 200px;
  margin: 20px; }

.contacto {
  background-position: left;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  background-color: #e6dacd; }

.contacto-top {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  background-color: #e6dacd; }

.acerca-proyecto {
  background-image: url("./../assets/wp5951697.jpeg");
  background-repeat: no-repeat;
  padding: 20px 5px;
  margin: 0px; }

.tabla-encabezado {
  background-color: lightskyblue; }

.section-mi {
  text-align: left;
  justify-content: left; }

.profile-container {
  display: grid;
  grid-template-columns: 1fr 1.3fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: ". .";
  height: 100vh;
  padding-top: 126px; }

.move-content-down {
  padding-top: 126px; }

.info-container {
  background-color: #e6dacd; }

.avatar {
  width: 200px;
  display: flex;
  position: relative;
  align-content: center;
  padding: 200px;
  border-radius: 50%; }

.my-info {
  background-color: #f4ece6;
  display: flex;
  flex-direction: column;
  padding: 40px 50px;
  align-content: center;
  justify-content: center;
  align-items: center; }

.my-info > * {
  margin: 20px; }

.boton-info > a {
  text-decoration: none;
  color: #000000; }

.boton-info > a:hover {
  color: #0051fe; }

.info-resumen {
  display: flex;
  flex-direction: column;
  align-items: flex-start; }

.info-sobre-mi {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  background-color: #e6dacd; }

.resume-button {
  background-color: #074df5;
  color: #ffffff;
  height: 30px;
  width: 120px;
  border-radius: 20px;
  border: none; }

.resume-button:hover {
  background-color: #FFFFFF;
  color: #000000;
  border: 1px solid #000000; }

.proyect-button {
  background-color: #FFFFFF;
  color: #000000;
  height: 30px;
  width: 120px;
  border-radius: 20px;
  border-color: #000000; }

.proyect-button:hover {
  background-color: #074df5;
  color: #FFFFFF;
  border: 1px solid #074df5; }

.experience-info {
  display: flex;
  flex-direction: row;
  background-color: #FFFFFF;
  margin: 30px; }

.years-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  color: #074df5; }

.funciones-resumen {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px; }

@media (max-width: 576px) {
  .years-info > a {
    margin: 5px; } }

@media (max-width: 400px) {
  .years-info > a {
    margin: 10px 0px; }
  .years-info {
    flex-direction: column; } }

.info-nombre {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-items: center;
  padding-bottom: 200px;
  margin-bottom: 50px; }

@media (max-width: 576px) {
  .contacto > a {
    margin: 5px; } }

@media (max-width: 400px) {
  .contacto > a {
    margin: 10px 0px; }
  .contacto {
    flex-direction: column; } }

.enviar-button {
  background-color: #074df5;
  color: #ffffff;
  height: 30px;
  width: 120px;
  border: none; }

.enviar-button:hover {
  background-color: #FFFFFF;
  color: #000000;
  border: 1px solid #000000; }

.borrar-button {
  background-color: #FFFFFF;
  color: #000000;
  height: 30px;
  width: 120px;
  border-color: #000000; }

.borrar-button:hover {
  background-color: #074df5;
  color: #FFFFFF;
  border: 1px solid #074df5; }

.proyectos {
  display: flex;
  flex-direction: row; }

.project_img {
  width: 250px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-content: flex-end; }

.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative; }

.topnav #myLinks {
  display: none; }

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block; }

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0; }

.topnav a:hover {
  background-color: #ddd;
  color: black; }

.active {
  background-color: #04AA6D;
  color: white; }

@media screen and (max-width: 600px) {
  .proyectos {
    flex-direction: column; }
  .header-nav {
    display: none; }
  .header-nav-mobile {
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 35px; }
  .topnav #myLinks {
    display: block; } }

@media screen and (min-width: 601px) {
  .header-nav {
    display: flex; }
  .header-nav-mobile {
    display: none; } }
